body {
  background-color: blanchedalmond;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
  background-color: rgb(80, 80, 184);
  padding: 2%;
}

nav img {
  max-width: 10%;
}

a:hover {
  color: rgb(221, 242, 36);
}

nav a {
  color: aliceblue;
}
@media (min-width: 600px) {
}
